@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

